/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/12mE4jfMSBTmg-81EiS-YQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  color: #1d1c1cf2;
}

body,
p {
  font-family: "Roboto"
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans"
}

/* Header Section  */

header {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
  font-family: "Open Sans";
  /* position: fixed;
  z-index: 2; */
}

.logo img {
  height: 3rem;
}

.brandName {
  display: flex;
  font-size: 2rem;
}

.brandName span:nth-of-type(1){
  font-weight: bold;
}

.brandName span:nth-of-type(2){
  color: #A9A9A9;
}

.brandName span:nth-of-type(2):hover{
  color: #FF3B3F;
  transition: 500ms linear 300ms;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul{
  display: flex;
  justify-content: flex-end;
}

ul li {
  padding: 1rem;
}

ul a {
  color: #1d1c1cf2;
  text-decoration: none;
}

nav a:hover {
  color: #FF3B3F;
  transition: 600ms linear 50ms;
}

/* Mobile Nav  */

.mobileNav {
  display: none;
}

/*  Nav Mobile View  */

@media only screen and (max-width: 480px) {
  .brandName,
  nav ul {
    display: none;
  }

  .mobileNav {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }

  .mobileNav a {
    color: black;
  }

  .mobileNav i {
  }

  .logo img {
    display: none;
  }

  .navLogo {
    height: 3rem;
  }

  header {
    padding: 0rem;
    margin: 1rem 0;
  }

  .logo img {
    height: 2rem;
  }

}

@media only screen and (max-width: 680px) {
  .brandName,
  nav ul {
    display: none;
  }
  .mobileNav {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }

  .mobileNav a {
    color: black;
  }

  .mobileNav i {
  }

  .logo img {
    display: none;
  }

  .navLogo {
    height: 3rem;
  }

  header {
    padding: 0rem;
    margin: 1rem 0;
  }

  .logo img {
    margin-left: 2rem;
  }
}

/* Banner Section  */

.containerOne {
  background-color: #E9E9E9;
}

.bannerContent {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}

.bannerContiner {
  display: flex;
  align-items: center;
  width: 100%;
}

.bannerContiner img {
  width: 60%;
  margin: 2rem 0;
  padding: 0.25rem;
  background-color: white;
}

.bannerTextContainer {
  display: flex;
}

.bannertext {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 30%;

}

.bannertext h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #1d1c1cf2;
}

.bannertext p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: #1d1c1cf2;
}

.startHere {
  font-family: "Roboto";
  margin:;
  background-color: #88BBD6;
  text-align: center;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 0.5px solid #88BBD6;
  border-radius: 0.25rem;
}

.startHere a{
  color: white;
  text-decoration: none;
}

.startHere:hover {
  background-color: #FF3B3F;
  border: 0.5px solid #FF3B3F;
  transition: 750ms linear 100ms;
}

/* Mobile View Benner Section  */

@media only screen and (max-width: 480px) {

  .bannerContiner {
    flex-direction: column;
  }

  .bannerContent {
    margin: 0rem;
  }

  .bannerContiner img {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }

  .bannertext {
    width: 96%;
    margin: 2rem 0 2rem 1rem;
  }

  .bannertext h1 {
    margin-bottom: 2rem;
  }

  .bannertext p {
    display: block;
    margin-bottom: 1.5rem;
  }

  .startHere {
    width: 93%;
  }

}

/* First Content Section  */

.containerOnewhite {
  background-color: White;
}

.firstContent {
  margin: 0 1.5rem 2rem;
  display: flex;
}

.fisrtContainer {
  display: flex;
  flex-direction: column;
  max-width: 61%;
}

.fisrtContainer img {
  max-width: 100%;
  margin: 1.75rem 0;
  padding: 0.25rem;
  background-color: #f3f3f3de;
}

.fisrtContainer h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.fisrtContainer p {
  margin-bottom: 2rem;
  line-height: 1.55rem;
}

.fisrtContainer p:nth-child(2n) {
  font-size: 0.85rem;
}

.firstSidemobile {
  display: none;
}

/* First Section Mobile View  */

@media only screen and (max-width: 480px) {

  .firstContent {
    margin: 0;
  }

  .fisrtContainer {
    display: none;
  }

  .firstSidecontiner {
    padding-right: 1rem;
  }

  .firstSide {
    flex-direction: column;
    border: 0rem;
    margin-bottom: 3rem;
    margin-left: -0.5rem;
  }

  .firstSide img {
    display: none;
  }

  .firstSide img:nth-child(2) {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .firstSide_text {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .firstSide_text p {
    display: flex;
    width: 100%;
  }

  .readMore {
    margin-bottom: 1rem;
  }


}

/* First Section Tablet View  */

@media only screen and (max-width: 880px) and (min-width: 481px) {
  .firstContent {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .fisrtContainer {
    max-width: 97%;
    margin-left: 1.5rem;
  }

  .firstSide {
    max-width: 93%;
  }

  .thirdSidecontiner {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

}

/* First Side Content  */

.firstSidecontiner {
  margin: 1.6rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.firstSide {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #f3f3f3de;
  border-radius: 1rem 0;
}

.firstSide img {
  width: 35%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
}

.firstSide_text {
  margin-left: 1.5rem;
}

.firstSide_text h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.firstSide_text p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.readMore a {
  color: #88BBD6;
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
}

.readMore a:hover {
  color: #FF3B3F;
  transition: 500ms linear;
  text-decoration: underline;
}

.firstSide:hover {
  background-color: #E9E9E9;
  transition: 500ms ease-in-out 50ms;
  border-radius: 0 1rem;
}

/* Second Content Section  */

.smallContainer {
  margin-left: 4.5rem;
  margin-right: 2.5rem;
}

.secondContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course,
.course img {
  width: 20rem;
}

.course {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.course_text {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: -2px;
  height: 8rem;
}

.course_text h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.course_text p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.lheader {
  text-align: center;
  margin: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.course_text:hover {
  background-color: #FF3B3F;
  color: white;
  transition: 500ms ease-in-out 300ms;
}

.mobileCourse {
  display: none;
}

.mheader {
  display: none;
}

/* Second Content Mobile View  */

@media only screen and (max-width: 480px) {

  .containerOne {
    background-color: white;
  }

  .smallContainer {
    margin: auto;
    width: 100%:
  }

  .secondContent {
    margin: 1rem 1rem 2rem;
  }

  .mheader {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-top: 0.05rem solid #E9E9E9;
    width: 100%;
    padding-top: 2rem;
  }

  .mheader h3 {
    margin-top: 2rem;
  }

  .mobileCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 1rem;
  }

  .mobileCourse span {
    background-color: #E9E9E9;
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-family: "Open Sans";
    font-weight: bold;
  }

  .mobileCourse span:hover {
    background-color: #FF3B3F;
    color: white;
    transition: 500ms ease-in-out 100ms;
  }

  .lheader {
    display: none;
  }

  .secondContent .course {
    display: none;
  }

}

/* Third Content Section  */

.theaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thirdSidecontiner {
  margin-left: 1.5rem;
  align-self: flex-start;
}

.fisrtContainer video {
  max-width: 100%;
  margin-bottom: 1.75rem;
  padding: 0.25rem;
  background-color: #f3f3f3de;
}

@media only screen and (max-width: 480px) {
  .thirdSidecontiner {
    display: none;
  }

  .theaderContainer .fisrtContainer {
    display: flex;
    max-width: 100%;
  }

  .theaderContainer .fisrtContainer video {
    background-color: none;
    padding: 0;
  }

  .theaderContainer .fisrtContainer h2,
  p {
    display: none;

  }

}

@media only screen and (max-width: 880px) and (min-width: 481px) {

  .thirdSidecontiner {
    margin-bottom: 2rem;
  }

  .thirdSidecontiner .firstSide:nth-child(2n) {
    margin: 0px;
  }

}

/* Footer Section  */

footer {
  border-top: 0.05rem solid #E9E9E9;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.copyrightContainer {
  display: flex;
  margin: 1rem 2rem;
}

.terms {
  display: flex;
  justify-content: flex-end;
  width: 78%;
}

.terms ul{
  display: flex;
  justify-content: flex-end;
}

.terms a:hover {
  color: #FF3B3F;
  transition: 500ms linear 50ms;
}

/* Footer Content Mobile View  */

@media only screen and (max-width: 480px) {

  footer .terms {
    display: none;
  }

  footer .copyrightContainer {
    display: flex;
    margin: auto;
  }

  .copyrightContainer p {
    display: block;
    padding: 1rem;
  }

}
