/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v18/12mE4jfMSBTmg-81EiS-YQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  color: #1d1c1cf2;
}

body,
p {
  font-family: "Roboto"
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans"
}

/* Header Section  */

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  font-family: "Open Sans";
  /* position: fixed;
  z-index: 2; */
}
.logo {
  margin-left: 1.5rem;
}

.logo img {
  height: 3rem;
}

.brandName {
  display: flex;
  font-size: 2rem;
}

.brandName span:nth-of-type(1){
  font-weight: bold;
}

.brandName span:nth-of-type(2){
  color: #A9A9A9;
}

.brandName span:nth-of-type(2):hover{
  color: #FF3B3F;
  transition: 500ms linear 300ms;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
}

nav ul{
  display: flex;
  justify-content: flex-end;
}

ul li {
  padding: 1rem;
}

ul a {
  color: #1d1c1cf2;
  text-decoration: none;
}

nav a:hover {
  color: #FF3B3F;
  transition: 600ms linear 50ms;
}

/* Banner Section  */

.containerOne {
  background-color: #E9E9E9;
}

.bannerContent {
  margin: 0 4rem;
  display: flex;
  align-items: center;
}

.bannerContiner {
  display: flex;
  align-items: center;
}

.bannerContiner img {
  width: 60%;
  margin: 2rem 0;
  padding: 0.25rem;
  background-color: white;
}

.bannerTextContainer {
  display: flex;
}

.bannertext {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 30%;

}

.bannertext h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #1d1c1cf2;
}

.bannertext p {
  line-height: 1.5rem;
  font-family: "Roboto";
  margin-bottom: 1rem;
  color: #1d1c1cf2;
}

.startHere {
  font-family: "Roboto";
  margin:;
  background-color: #88BBD6;
  text-align: center;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 0.5px solid #88BBD6;
  border-radius: 0.25rem;
}

.startHere a{
  color: white;
  text-decoration: none;
}

.startHere:hover {
  background-color: #FF3B3F;
  border: 0.5px solid #FF3B3F;
  transition: 750ms linear 100ms;
}

/* First Content Section  */

.containerOnewhite {
  background-color: White;
}

.firstContent {
  margin: 0 4rem 2rem;
  display: flex;
  align-items: center;
}

.fisrtContainer {
  display: flex;
  flex-direction: column;
  max-width: 61%;
}

.fisrtContainer img {
  max-width: 100%;
  margin: 1.75rem 0;
  padding: 0.25rem;
  background-color: #E9E9E9;

}

.fisrtContainer h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.fisrtContainer p {
  font-family: "Roboto";
  margin-bottom: 2rem;
  line-height: 1.55rem;
}

.fisrtContainer p:nth-child(2n) {
  font-size: 0.85rem;
}

/* Side Content  */

.firstSidecontiner {
  margin-left: 1.5rem;
}

.firstSide {
  display: flex;
  align-items: center;
  /* margin-top: 3rem; */
  margin-bottom: 2rem;
}

.firstSide img {
  width: 35%;
  height: auto;
  padding: 0.5rem;
}

.firstSide_text h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.firstSide_text p {
  font-family: "Roboto";
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.readMore a {
  color: #88BBD6;
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
}

.readMore a:hover {
  color: #FF3B3F;
  transition: 500ms linear;
  text-decoration: underline;
  /* color: #1d1c1cf2; */
}

.firstSide:hover {
  background-color: #E9E9E9;
  transition: 500ms ease-in-out 50ms;
  border-radius: 5px;
  /* color: #FF3B3F; */
}

/* Second Content Section  */

.smallContainer {
  margin-left: 4.5rem;
  margin-right: 2.5rem;
}

.secondContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course,
.course img {
  width: 20rem;
}

.course {
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.course_text {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: -2px;
  height: 8rem;
}

.course_text h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.course_text p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.lheader {
  text-align: center;
  margin: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.course_text:hover {
  /* background-color: #EFEFEF; */
  background-color: #FF3B3F;
  color: white;
  transition: 450ms linear 200ms;
}

/* Third Content Section  */

.theaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thirdSidecontiner {
  margin-left: 1.5rem;
  align-self: flex-start;
}

.fisrtContainer video {
  max-width: 100%;
  margin-bottom: 1.75rem;
  padding: 0.25rem;
  background-color: #E9E9E9;
}

/* Footer Section  */

footer {
  border-top: 0.05rem solid #E9E9E9;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.copyrightContainer {
  display: flex;
  margin: 1rem 2rem;
}

.terms {
  display: flex;
  justify-content: flex-end;
  width: 78%;
}

.terms ul{
  display: flex;
  justify-content: flex-end;
}

.terms a:hover {
  color: #FF3B3F;
  transition: 500ms linear 50ms;
}
